<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <em class="usa-logo__text">
          <%= link_to t('shared.header.title'), root_path %>
        </em>
      </div>
      <button class="usa-menu-btn"><%= t('shared.header.menu') %></button>
    </div>
    <nav aria-label="<%= t('shared.header.primary') %>" class="usa-nav">
      <button class="usa-nav__close">
        <%= image_tag "@uswds/uswds/dist/img/usa-icons/close.svg", role: "img", alt: t('shared.header.close') %>
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <% if I18n.available_locales.count > 1 %>
          <% I18n.available_locales.each do |l| %>
            <li class="usa-nav__primary-item">
              <%= format_active_locale(l) %>
            </li>
          <% end %>
        <% end %>
        <li class="usa-nav__primary-item">
          <% if user_signed_in? %>
            <%= link_to "Logout", logout_path %>
          <% else %>
            <%= button_to "Login", "/auth/github" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
